body{
    background-color: white;
    color: #212529;

}

body.dark-mode{
    color: #d3d3d3;
    background-color: #111;

    .nav-link, .btn, a {
        color: #bbb;
    }

    .navbar-brand{
        color: #d3d3d3
    }

    .navbar{
        background-color: #222021;
    }

    .btn{
        color: #bbb;
    }

    .dashboard-top>div{
        border: 3px solid #bbb;
    }
}

body h5{
    color: #006225;
}

#bio-container p {
    text-align: justify;
}

/* form styles */
.form-header {
    background-color: rgba(0,0,0,.03);
    border: solid 1px rgba(0,0,0,.125);
    border-bottom: none;
    margin-bottom: 0;
    padding: 1rem;
}

.form-container {
    border: solid 1px rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.form-body {
    width: 90%;
}

/*input[type='radio']:checked {*/
/*    background-color: grey;*/
/*    border-color: grey;*/
/*}*/

.submit-btn {
    background-color: white;
    border: 1px solid #545454;
    border-radius: 2px;
    color: #2c882b;
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.submit-btn-hover {
    background-color: #6CB443;
    border: 1px solid #6CB443;
    border-radius: 2px;
    font-weight: 600;
    padding: 7px 10px 7px 10px;
}

.warning {
    color: #D14900;
}


@media screen and (max-width: 1000px) {
    #main-container {
        max-width: 90%;
    }
    .app-list, .reminders, .software-dev-img, .about-program {
        width: 100%;
        margin-bottom: 25px;
    }
    .software-dev-img {
        width: 80%;
        margin: auto auto 25px;
    }
    #new-app-container, #update-account-container {
        width: 50%;
    }
    .app-button-inner {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media screen and (max-width: 550px) {
    .app-button-outer {
        width:50%;
    }
    .title {
        text-align: center;
        width:66.66666666666%;
    }
}

.app-list{
    gap: 10px;
    padding: 15px;
}

.app-list-item{
    margin: 6px 0;
    align-items: center;
}

.app-list-item .btn{
    width: 100%;
}

.app-list-item .btn-update:hover{
    background-color: #6CB443;
}

.app-list-item .btn-delete:hover{
    background-color: red;
}

.dashboard-top{
    gap: 10px;
    margin-bottom: 20px;

}

.reminders{
    padding: 15px;
}

.welcome-info{
    margin-top: 20px;
}

.reminder-div{
    padding: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.reminder-div .btn{
    width: 100%;
}

.btn-reminder-more{
    color: black;
}

a {
    color: purple;
}

.dashboard-top>div{
    border: 3px solid black;
}

.resources-list>li{
    margin-bottom: 8px;
}